:root {
	--bg-color: #F0F0F0;
	--txt-color: #101010;
	--link-color-1: #0000EE;
	--link-color-2: #551A8B;
	--table-color: #10F0F040;
}

* {
	overscroll-behavior: none;
}

html, body {
	background-color: var(--bg-color);
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	color: var(--txt-color);
	margin: 0;
}

body {
	margin: 1.34rem 0 0.5rem;
}

h1, h2, h3 {
	padding: 0 0.5rem;
}

#title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.icon {
	margin: -1em 0;
	width: 2em;
	height: 2em;
	transform: scale(2, 2);
}

.header {
	font-size: medium;
	font-weight: normal;
}

hr {
	border: 1px solid var(--txt-color);
	margin: 0.5rem;
}

#games, #tools, .flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 0 0.5rem;
	gap: 0.5rem;
}

.item {
	display: flex;
	align-items: center;
	border: 2px solid var(--txt-color);
	padding: 0.33rem;
	margin-bottom: 0.67rem;
}

.star {
	position: relative;
	margin: -8em 0.1em 0 -0.7em;
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid var(--link-color-1);
}

.star:before, .star:after {
	content: "";
	position: absolute;
	top: 0.6em;
	left: -1em;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: inherit;
}

.star:before {
	transform: rotate(-35deg);
}

.star:after {
	transform: rotate(35deg);
}

a:link {
	color: var(--link-color-1);
}

a:visited {
	color: var(--link-color-2);
}

a:not(:hover):not(:focus) {
	text-decoration: none;
}

a:focus {
	outline: none;
}

a:hover, button:hover {
	cursor: pointer;
}

.flex {
	justify-content: center;
	margin-top: 1.17rem;
}

button {
	background-color: var(--bg-color);
	font-size: medium;
	font-family: 'Courier New', Courier, monospace;
	color: var(--txt-color);
}

dialog {
	box-sizing: border-box;
	max-width: calc(100% - 1rem);
	max-height: calc(100% - 1rem);
	border: 2px solid var(--txt-color);
	background-color: var(--bg-color);
	color: var(--txt-color);
	padding: 0.67rem 0.5rem;
}

table {
	margin: 1rem 0;
	width: 100%;
	border-spacing: 0.5rem 0;
}

table tr:nth-child(odd) {
	background-color: var(--table-color);
}

select {
	font-size: medium;
	font-family: 'Courier New', Courier, monospace;
	border: none;
	background: none;
	color: var(--txt-color);
}
